.photo {
    width: 1500px;
}

.photo1 {
    width: 1500px;

}

.photo2 {
    width: 1500px;
}

.photo3 {
    width: 1500px;
}

.photo4 {
    width: 1500px;
}

.photo5 {
    width: 1500px;
}